.green{
	color: black;
	border: 4px;
	text-decoration: none;
	border-radius: 10px;
    background: #00DD00;
    padding: 10px;
}
.red{
	border-width: 2px;
	color: black;
	border: 4px;
	text-decoration: none;
	border-radius: 10px;
    background: #FF0000;
    padding: 10px;
}
.gray{
	border-width: 2px;
	color: black;
	border: 4px;
	text-decoration: none;
	border-radius: 10px;
    background: #AAAAAA;
    padding: 10px;
}